<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- T O D O #1 - Use a loop to display job results in a table. -->
    <th:block th:each="job : ${jobs}">
        <table th:each="field : ${job}" class="job-listing">
            <tr>
                <td>ID</td>
                <td th:text="${field.id}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${field.name}"></td>
            </tr>
            <tr>
                <td>Employer</td>
                <td th:text="${field.employer}"></td>
            </tr>
            <tr>
                <td>Location</td>
                <td th:text="${field.location}"></td>
            </tr>
            <tr>
                <td>Position Type</td>
                <td th:text="${field.positionType}"></td>
            </tr>
            <tr>
                <td>Skill</td>
                <td th:text="${field.coreCompetency}"></td>
            </tr>
        </table>
    </th:block>


</div>

</body>
</html>